.tablaCv{
    display: flex;
}

.tablaCv table{
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
    margin-top: 50px;
}

.tablaCv a:hover{
    background-color: white;
    border: none;
}

.tablaCv button{
    background: white;
    border: none;
    border-radius: 8px;
    background-color: #E3543B;
    color: white;
    padding: 10px 20px;
} 

.tablaCv button:hover{
    background-color: #E94435;
}