.fechaMaquinaria{
    display: flex;
    padding: 10px 20px;   
    justify-content: center;
}

.fechaMaquinaria label{
    padding: 10px;
}

.fechaMaquinaria form {
    display: flex;
    gap: 10px;

}

.fechaMaquinaria button{
    padding: 10px 20px;

}

.tablafacturamaquinaria table{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}