.tituloEmpresa{
    display: flex;
    justify-content: center;
    padding: 15px;
    font-family: cursive;
    font-style: oblique;
}
/* 
.historiaEmpresa{
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    /* height: 50vh; 
} */

.historiaEmpresa {
    display: flex;
    position: relative;
    width: 100%;
    height: 60vh;

    background-image: url("../Imagenes/logo/animacion.gif");
    background-size: cover;
    background-position: center;
}

/* capa oscura */
.historiaEmpresa::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.5);
}

/* texto */
.overlayHistoria {
    position: relative;
    z-index: 1;
    color: white;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
}
/* .fotoEmpresa{
    display: flex;
    
    justify-content: center;
    width: 50%;
    align-items: center;
}

.fotoEmpresa img{
    width: 100%;
    height: auto;
} 

.textoEmpresa{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}*/


.proyectosRealizados{
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.imagenesProyectos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 300px;
    gap: 7px;
    /* border: 2px solid red; */
}

.imagenesProyectos img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .imagen1Proyecto{
    display: flex;
    justify-content: center;
}

.imagen2Proyecto{
    display: flex;
    justify-content: center;
}

.imagen3Proyecto{
    display: flex;
    justify-content: center;
} */
.imagenProyecto
{
    display: flex;
    justify-content: center;
    overflow: hidden; 
    height: 100%; 
    position: relative;
}

/* .imagen1Proyecto,
.imagen2Proyecto,
.imagen3Proyecto {
    position: relative;
} */

.overlay{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    padding: 10px;
    opacity: 0;
    transition: all ease 0.4s;
}

.imagenProyecto:hover .overlay
{
    opacity: 1;
}

.imagenProyecto:hover img
{
    transform:scale(1.2) ;
}

.empresasColaboradoras{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.fotosColaboradoras {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 10px;

    overflow: hidden;
}

.fotosColaboradoras img{
    width: auto;
    height: 100px;
    object-fit: contain;
}

.slider {
    display: flex;
    width: max-content;
    animation: scroll 10s linear infinite;
}

.slider img{
    height: 250px;
    width: auto;
    object-fit: contain;
    margin: 0 30px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.imagen1Colaboradora, 
.imagen2Colaboradora, 
.imagen3Colaboradora { 
    display: flex; 
    justify-content: center; 
    overflow: hidden; 
    height: 150px;  
}